/* formatting.css */

/* Bold text */
b, strong {
  font-weight: bold;
}

/* Italic text */
i, em {
  font-style: italic;
}

/* Highlighted text */
mark {
  background-color: yellow;
  color: black;
}

/* Smaller text */
small {
  font-size: smaller;
}

/* Subscript */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* Superscript */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* Inserted text */
ins {
  text-decoration: underline;
}

/* Deleted text */
del {
  text-decoration: line-through;
}

/* Paragraph */
p {
  margin: 1em 0;
}

/* Headings */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* Horizontal rule */
hr {
  border: 1px solid #ccc;
  margin: 1em 0;
}

/* Line break */
br {
  content: "";
}

/* Preformatted text */
pre {
  font-family: monospace;
  white-space: pre;
}

/* Underlined text */
u {
  text-decoration: underline;
}

/* Strikethrough text */
s {
  text-decoration: line-through;
}

/* Blockquote */
blockquote {
  margin: 1em;
  padding: 1em;
  border-left: 5px solid #ccc;
}

/* Short inline quotation */
q {
  quotes: "“" "”" "‘" "’";
}

/* Abbreviation */
abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

/* Work title */
cite {
  font-style: italic;
}

/* Defining instance of a term */
dfn {
  font-style: italic;
}

/* Address */
address {
  font-style: italic;
  margin: 1em 0;
}

/* Inline code */
code {
  font-family: monospace;
}

/* Sample output */
samp {
  font-family: monospace;
}

/* Keyboard input */
kbd {
  font-family: monospace;
}

/* Variable */
var {
  font-style: italic;
}

/* Time */
time {
  font-style: italic;
}  

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul ul {
  list-style-type: circle;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}
